<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ConnectionStringNoroshiMaster" value="Server=aar312313qn1ls.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_dev_choi;Uid=noroshi;Pwd=NoroshiServer"/>
  <add key="ConnectionStringNoroshiSlave" value="Server=aar312313qn1ls.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_dev_choi;Uid=noroshi;Pwd=NoroshiServer"/>
  <add key="ConnectionStringNoroshiShard1Master" value="Server=aar312313qn1ls.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_dev_choi_shard1;Uid=noroshi;Pwd=NoroshiServer"/>
  <add key="ConnectionStringNoroshiShard1Slave" value="Server=aar312313qn1ls.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_dev_choi_shard1;Uid=noroshi;Pwd=NoroshiServer"/>
  <add key="ConnectionStringNoroshiShard2Master" value="Server=aar312313qn1ls.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_dev_choi_shard2;Uid=noroshi;Pwd=NoroshiServer"/>
  <add key="ConnectionStringNoroshiShard2Slave" value="Server=aar312313qn1ls.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_dev_choi_shard2;Uid=noroshi;Pwd=NoroshiServer"/>
</appSettings>