<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <configSections>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <appSettings file="Local.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <modules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="StaticFile" />
      <!-- もしGlimpseもホストする場合はGlimpseのを先に書いといて -->
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
      <add name="OWIN" path="*" verb="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>

    <add name="NoroshiMaster" providerName="MySql.Data.MySqlClient" connectionString="Server=flaggs-dev.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_common;Uid=noroshi;Pwd=rsNpJQpL0VLD0QIw" />
    <add name="NoroshiSlave" providerName="MySql.Data.MySqlClient" connectionString="Server=flaggs-dev-read.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_common;Uid=noroshi_slave;Pwd=pFG1eMjAVvGYDp4k" />
    <add name="NoroshiShard1Master" providerName="MySql.Data.MySqlClient" connectionString="Server=flaggs-dev.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_shard1;Uid=noroshi;Pwd=rsNpJQpL0VLD0QIw" />
    <add name="NoroshiShard1Slave" providerName="MySql.Data.MySqlClient" connectionString="Server=flaggs-dev-read.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_shard1;Uid=noroshi_slave;Pwd=pFG1eMjAVvGYDp4k" />
    <add name="NoroshiShard2Master" providerName="MySql.Data.MySqlClient" connectionString="Server=flaggs-dev.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_shard2;Uid=noroshi;Pwd=rsNpJQpL0VLD0QIw" />
    <add name="NoroshiShard2Slave" providerName="MySql.Data.MySqlClient" connectionString="Server=flaggs-dev-read.c4rqnbz0knbn.ap-northeast-1.rds.amazonaws.com;Database=noroshi_shard2;Uid=noroshi_slave;Pwd=pFG1eMjAVvGYDp4k" />
    <add name="NoroshiKvsMaster" providerName="StackExchange.Redis" connectionString="flaggs-redis-001.4hjsjp.0001.apne1.cache.amazonaws.com" />
    <add name="NoroshiKvsSlave" providerName="StackExchange.Redis" connectionString="flaggs-redis-002.4hjsjp.0001.apne1.cache.amazonaws.com" />
  </connectionStrings>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="Noroshi.Server.Core.Source.Noroshi.Core.WebApi.Response.PlayerItem.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Noroshi.Server.Core.Source.Noroshi.Core.WebApi.Response.PlayerItem">
        <endpoint address="" binding="customBinding" bindingConfiguration="Noroshi.Server.Core.Source.Noroshi.Core.WebApi.Response.PlayerItem.customBinding0" contract="Noroshi.Server.Core.Source.Noroshi.Core.WebApi.Response.PlayerItem" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>